<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body *ngIf="!loading">
	<div class="topic__div">
		<h2 class="topic__h2">{{assignment.topic.title}}</h2>
		<div class="btns">
			<button class="edit__btn">Edit</button>
			<button class="delete__btn" (click)="delete()">Delete</button>
		</div>
		
	</div>
	<div class="info__div">
		<h1>{{assignment.title}}</h1>
		<p>{{assignment.description}}</p>
		<div class="file__div" *ngFor="let file of assignment.fileUrl">
			<span class="pdf__icon" *ngIf="file[file.length - 1] === 'f'"><fa-icon [icon]="pdfIcon"></fa-icon></span>
			<span class="word__icon" *ngIf="file[file.length - 1] ===  'x'"><fa-icon [icon]="wordIcon"></fa-icon></span>
			<a class="file__url" [name]="fileName" (click)="downloadImage(file)" download target="_blank">{{ file.split('-')[3] }}</a>
		</div>
		
	</div>
	
</body>
</html>