
.main-header {
	width: 90%;
	margin-left: 50px;
	position: absolute;
}
p {
	display: inline-block;
	color: white;
	font-size: 18px;
	padding: 0 10px;
}
span {
	margin-left: 25px;
}

.icon {
	font-size: 25px; 
	color: white; 
	margin: 0 8px;
}

.logout-icon {
	float: right !important;
}

p:hover {
	text-shadow: 0 0 7px white;
}

@media screen and (max-width: 800px) {
	p {
		display: none;
	}

	.main-header {
		text-align: center;
		margin: 20px 0 0 0;
	}

}