<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body *ngIf="!loading" id="header">
	<div id="mySidenav" class="sidenav">
	  <a class="closebtn" (click)="closeNav()">&times;</a>
	  <a href="#">About</a>
	  <a href="#">Services</a>
	  <a *ngIf="courseTopics !== null" (click)="showTopics = !showTopics">
	  	<fa-icon [icon]="topicIcon"></fa-icon>
	  	Topics
	  	<fa-icon class="open-icon" *ngIf="showTopics" [icon]="openIcon"></fa-icon>
	  	<fa-icon class="open-icon" *ngIf="!showTopics" [icon]="closedIcon"></fa-icon>
	  </a>
	  <div *ngIf="showTopics">
	  	  <a (click)="toTopic(i)" class="course__link" *ngFor="let topic of courseTopics;index as i">
		  	{{ topic.title }}
		  </a>
	  </div>
	 
	  <a (click)="showCourses = !showCourses">
	  	<fa-icon [icon]="uniIcon"></fa-icon>
	  	Courses 
	  	<fa-icon class="open-icon" *ngIf="showCourses" [icon]="openIcon"></fa-icon>
	  	<fa-icon class="open-icon" *ngIf="!showCourses" [icon]="closedIcon"></fa-icon>
	  </a>
	  <div  *ngIf="showCourses">
	  	  <a [routerLink]="['/course/', course._id]" class="course__link" *ngFor="let course of courses">
		  	{{ course.title }}
		  </a>
	  </div>
	  
	</div>
	

	<div class="main__header">

		<a class="main__header-link"  (click)="openNav()"><span class="link__span">&#9776;</span></a>
		<a href="" class="main__header-link"><span class="link__span">About</span></a>
		<a href="" class="main__header-link"><span class="link__span">Grades</span></a>
		<a href="" class="main__header-link"><span class="link__span">Edit Profile</span></a>

		<button href="" *ngIf="loggedIn" (click)="logOut()" class="main__header-link log-link">Log out</button>
		<button href="" *ngIf="!loggedIn" (click)="logIn()" class="main__header-link log-link">Log in</button>

	</div>
	<div class="backdrop" [hidden]="!displayHeader" (click)="onShowHeader()"></div>
	<div class="hamburger__header">
		<div class="hamburger__header-main"  (click)="onShowHeader()">
			<span [@burgerChild1]="showHeaderState"></span>
			<span [@burgerChild2]="showHeaderState"></span>
			<span [@burgerChild3]="showHeaderState"></span>
			
		</div>
		<div class="hamburger__header-links" [@showHeader]="showHeaderState" [@showHeader2]="showHeaderState">
			<a href="" class="hamburger__header-link">About</a>
			<a href="" class="hamburger__header-link">Grades</a>
			<a href="" class="hamburger__header-link">Edit Profile</a>
			<a href="" class="hamburger__header-link" *ngIf="!loggedIn" >Log in</a>
			<a href="" class="hamburger__header-link" *ngIf="loggedIn" >Log out</a>

		</div>
	</div>
	
</body>
</html>