<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="main-header">
		<span><fa-icon [icon]="accountIcon" class="icon"></fa-icon></span>
		<span><fa-icon [icon]="aboutIcon" class="icon"></fa-icon></span><p>About</p>
		<span><fa-icon [icon]="gradesIcon" class="icon"></fa-icon></span><p>Grades </p>
		<span><fa-icon [icon]="editIcon" class="icon"></fa-icon></span><p>Edit profile</p>

		<div class="logout-icon"><span><fa-icon [icon]="logOutIcon" class="icon"></fa-icon></span><p>Log out</p></div>
	</div>
</body>
</html>