.cover__div {
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.start__btn {
	margin-top: 1rem;
	border: 0;
	background-color: #7794fc;
	color: white;
	text-transform: uppercase;
	font-size: 18px;
	padding: 10px 20px;
	border-radius: 5px;
	outline: none;
}

.start__btn:hover,
.start__btn:disabled {
	background-color: #9ca9d6;
}

.start__btn:active {
	background-color: #b8c7ff;
	outline: none;
}

.menu__div {
	display: flex;
	border-radius: 5px;
	margin: 2rem 3% 2rem 3%;
	padding: 10px 10px 10px 20px;
	background-color: #f8f8f8;
	flex-wrap: wrap;
   	align-content: flex-start;
    height: 100%;
}

.timer__p {
	text-align: center;
	width: 100%;
	background-color: #f8f8f8;
	border-radius: 5px;
	font-size: 18px;
}


.question__num {
	padding: 10px;
	border: 1px solid #0b7ace;
	color: #054f87;
	border-radius: 3px;
	margin-right: 10px;
	margin-left: 10px;
	background-color: white;
}

.points__span {
	padding: 10px;
	background-color: #f8f8f8;
	font-size: 14px;
	margin-right: 10px;
	font-weight: 300;
	border-radius: 3px;
}

.active__num {
	box-shadow: 0 0 7px #0b7ace;
}

.filled__num {
	background-color: #0b7ace;
	color: white;
}


.question__div {
	
	margin: 1rem 2rem;
	flex: 1;
}

.choice__div {
	cursor: pointer;
	display: flex;
	align-items: center;
	margin-left: 2rem;
}

.choice__div p {
	padding: 5px 10px;
	margin-right: 2rem;
	border-radius: 50%;
	border: 1.5px solid #0b7ace;
}

.active__choice {
	background-color: #0b7ace;
	color: white;
}

.question__h3 {
	font-size: 20px;
}

textarea {
    width: 100%;
    height: 40vh;
    resize: none;
	border-radius: 17px;
	border: 1px solid #00b5d4;
	box-shadow: 0 0 7px #00b5d4;
	font-size: 20px;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	padding: 12px 0 0 12px;

}

textarea::placeholder {
	color: #bababa;
}

.answers__list {
	border: 1px solid #f2f2f2;
    box-shadow: 0 0 10px #f2f2f2;
    width: 80%;
    margin: auto;
    /*padding: 10px 20px;*/
    margin-top: 2rem;
    border-radius: 7px;
}

.question2__h3, .choice__list {
	padding: 10px 20px;
}

.correct__choice {
	background-color: #94ff94;
	border: 1px solid #94ff94 !important;
	box-shadow: 0 0  7px #94ff94;

	color: #008000;
}

.wrong__choice {
	background-color: #ff9482;
	border: 1px solid  #ff9482 !important;
	box-shadow: 0 0  7px #ff9482;
	color: #8f1500;
}

.pending__span {
	font-size: 12px;
	color:#7a5a00;
	font-weight: 300;
	background-color:#ffdd7d;
	border-radius: 15px;
	margin-right: 10px;
	padding: 5px 10px;
}

.correct_answ__div, .wrong_answ__div {
    padding: 20px;
}

.correct_answ__div {
	background-color: #d7ffc2
}

.wrong_answ__div {
	background-color: #ffdcd9
}

.answers__div {
	margin: 2rem 0;
}

@media screen and (min-width: 800px) {
	.answers__list {
		width: 60%;
	}
}

@media screen and (min-width: 600px) {
	.main__div {
		display: flex;
		justify-content: space-between;
	}

	.menu__div {
		flex: 0 0 20%;
		/*max-height: 400px;*/
    	max-width: 300px;
    	flex-wrap: wrap;
    	align-content: flex-start;
    	height: 100%;
    	/*width: 100%;*/
    	justify-content: space-around;
	}
	.question__div {
		margin: 2rem 4rem;
		flex: 1;
	}

	textarea {
		width: 80%;
	}

	.question__num {
		height: 25px;
	}

}