<div *ngIf="!loading && workMode" class="cover__div">
	<h1>{{ testwork.title }}</h1>
	<p>This test lasts {{ timeRestriction }}</p>
	<p>Deadline: {{ testwork.deadline | date: 'dd MMMM yyyy  \'at\' mm:hh' }}</p>
	<button class="start__btn" (click)="startTheTest()">Start</button>
</div>

<div *ngIf="!loading && !workMode" class="main__div">

	<div class="question__div" >
		<h3 class="question__h3">{{ testwork.questions[currentQuestionId].title }}</h3>
		<div *ngIf="testwork.questions[currentQuestionId].a">
			<div class="choice__div" (click)="addAnswer('a')">
				<p [ngClass]="answers[currentQuestionId] === 'a' && {'active__choice': true}">a</p>
				{{ testwork.questions[currentQuestionId].a }}
			</div>
			<div class="choice__div" (click)="addAnswer('b')">
				<p [ngClass]="answers[currentQuestionId] === 'b' && {'active__choice': true}">b</p>
				{{ testwork.questions[currentQuestionId].b }}
			</div>
			<div class="choice__div" (click)="addAnswer('c')">
				<p [ngClass]="answers[currentQuestionId] === 'c' && {'active__choice': true}">c</p>
				{{ testwork.questions[currentQuestionId].c }}
			</div>
			<div class="choice__div" (click)="addAnswer('d')">
				<p [ngClass]="answers[currentQuestionId] === 'd' && {'active__choice': true}">d</p>
				{{ testwork.questions[currentQuestionId].d }}
			</div>
			<button 
				class="start__btn" 
				type="button" 
				(click)="currentQuestionId = currentQuestionId + 1"
				*ngIf="testwork.questions.length > currentQuestionId+1"
				>Next</button>
		</div>
		<form *ngIf="!testwork.questions[currentQuestionId].a" [formGroup]="answerForm" (ngSubmit)="saveAnswer()">
			<textarea 
				formControlName="answer" 
				name="answer" 
				placeholder="write your answer here"
				value=""></textarea>
			<button 
				class="start__btn" 
				type="submit" 
				*ngIf="testwork.questions.length > currentQuestionId+1"
				>Next</button>
		</form>

		
		<button 
			class="start__btn" 
			type="button" 
			*ngIf="testwork.questions.length === currentQuestionId+1"
			(click)="saveTest()"
			>Save</button>

	</div>

	<div class="menu__div">

		<p [ngClass]="{'active__num': currentQuestionId === i, 'filled__num': answers[i] && answers[i] !== null && answers[i] !== '' }" class="question__num" *ngFor="let t of testwork.questions; let i = index" (click)="goToQuestion(i)">{{ i + 1 }}</p>
	</div>


</div>