<div *ngIf="!loading && studentAnswer.length === 0 && !workMode " class="cover__div">
	<h1>{{ testwork.title }}</h1>
	<p>This test lasts {{ timeRestriction }}</p>
	<p>Deadline: {{ testwork.deadline.slice(0, 16) | date: 'dd MMMM yyyy  \'at\' hh:mm' }}</p>
	<button [disabled]="!available" class="start__btn" (click)="startTheTest()">Start</button>
</div>
<div  *ngIf="!loading && studentAnswer.length !== 0 " class="answers__div">
	<h1 style="text-align: center;">{{ testwork.title }}</h1>
	<div *ngFor="let answer of studentAnswer" class="answers__list">
		<h3 class="question2__h3">
			<span *ngIf="answer.points || answer.points === 0" class="points__span">points: {{  answer.points }}  / {{ answer.question.points }}</span>
			<span *ngIf="!answer.points && answer.points !== 0" class="pending__span">pending</span>
			{{ answer.question.title }}</h3>
		<div class="choice__list" *ngIf="answer.question.a">
			<div class="choice__div">
				<p [ngClass]="{'correct__choice': (answer.question.answer === 'a'), 'wrong__choice': answer.studentAnswer === 'a' && answer.points === 0}">a</p>
				{{ answer.question.a }}
			</div>
			<div class="choice__div">
				<p [ngClass]="{'correct__choice': (answer.question.answer === 'b'), 'wrong__choice': answer.studentAnswer === 'b' && answer.points === 0}">b</p>
				{{ answer.question.b }}
			</div>
			<div class="choice__div">
				<p [ngClass]="{'correct__choice': (answer.question.answer === 'c'), 'wrong__choice': answer.studentAnswer === 'c' && answer.points === 0}">c</p>
				{{ answer.question.c }}
			</div>
			<div class="choice__div">
				<p [ngClass]="{'correct__choice': (answer.question.answer === 'd'), 'wrong__choice': answer.studentAnswer === 'd' && answer.points === 0}">d</p>
				{{ answer.question.d }}
			</div>
			
		</div>
		<div *ngIf="!answer.question.a">
			
			<div *ngIf="answer.points === 0">
				<div class="wrong_answ__div">
					Your answer: {{  answer.studentAnswer }}
				</div>
				<div class="correct_answ__div">
					Correct answer: {{  answer.question.answer }}
				</div>
			</div>
			<div class="correct_answ__div" *ngIf=" answer.points !== 0">
				Correct answer: {{  answer.question.answer }}
			</div>
		</div>
	</div>
</div>

<div *ngIf="!loading && workMode && available" class="main__div">

	<div class="question__div" >
		<h3 class="question__h3"><span class="points__span">points: {{ testwork.questions[currentQuestionId].points }}</span>{{ testwork.questions[currentQuestionId].title }}</h3>
		<div *ngIf="testwork.questions[currentQuestionId].a">
			<div class="choice__div" (click)="addAnswer('a')">
				<p [ngClass]="answers[currentQuestionId] === 'a' && {'active__choice': true}">a</p>
				{{ testwork.questions[currentQuestionId].a }}
			</div>
			<div class="choice__div" (click)="addAnswer('b')">
				<p [ngClass]="answers[currentQuestionId] === 'b' && {'active__choice': true}">b</p>
				{{ testwork.questions[currentQuestionId].b }}
			</div>
			<div class="choice__div" (click)="addAnswer('c')">
				<p [ngClass]="answers[currentQuestionId] === 'c' && {'active__choice': true}">c</p>
				{{ testwork.questions[currentQuestionId].c }}
			</div>
			<div class="choice__div" (click)="addAnswer('d')">
				<p [ngClass]="answers[currentQuestionId] === 'd' && {'active__choice': true}">d</p>
				{{ testwork.questions[currentQuestionId].d }}
			</div>
			<button 
				class="start__btn" 
				type="button" 
				(click)="currentQuestionId = currentQuestionId + 1"
				*ngIf="testwork.questions.length > currentQuestionId+1"
				>Next</button>
		</div>
		<form *ngIf="!testwork.questions[currentQuestionId].a" [formGroup]="answerForm" (ngSubmit)="saveAnswer()">
			<textarea 
				formControlName="answer" 
				name="answer" 
				placeholder="write your answer here"
				value=""
				style="display: block"></textarea>
			<button 
				class="start__btn" 
				type="submit" 
				*ngIf="testwork.questions.length > currentQuestionId+1"
				>Next</button>
		</form>

		
		<button 
			class="start__btn" 
			type="button" 
			*ngIf="testwork.questions.length === currentQuestionId+1"
			(click)="saveTest()"
			>Save</button>

	</div>

	<div class="menu__div">
		<p class="timer__p">{{ timerVal  }}</p>

		<p [ngClass]="{'active__num': currentQuestionId === i, 'filled__num': answers[i] && answers[i] !== null && answers[i] !== '' }" class="question__num" *ngFor="let t of testwork.questions; let i = index" (click)="goToQuestion(i)">{{ i + 1 }}</p>


	</div>
	

</div>
