.main__div, .main__div-edit {
	background-image:  linear-gradient(to  top, #99e3cc, #59cdce, #00b5d4, #0099d7, #0b7ace);
	height: 17rem;
	padding-top: 90px;
	padding-left: 17%;
	color: white;

}

.delete__div {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	top: 20%;
}

.delete__alert-box {
	/*position: absolute;*/
	width: 400px;
	height: 220px;
	z-index: 3;
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	justify-content: space-around;
	align-content: center;
	border-radius: 5px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
}

.delete__alert-box h1 {
	font-size: 25px;
}

.delete__btns {
	display: inline;
	width: 100%;
	text-align: center;
}

.delete__btns button {
	width: 7rem;
	height: 3rem;
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	border: 0;
	outline: none;
}

.yes__btn {
	margin-right: 20px;
	background-color: #f76d61;
	color: white;
}

.edit__btn {
	font-size: 14px;
	width: 5rem;
	color: white;
	background-color: #0b7ace;
	height: 2rem;
	border-radius: 20px;
	text-transform: uppercase;
	border: 0;
	outline: none;
}

.edit__btn:active {
	background-color: #0f92f5;
}

input, textarea {
	border-radius: 17px;
	border: 1px solid #00b5d4;

	font-size: 17px;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	padding-left: 12px;

}
input {
	height: 40px;
	width: 240px;
	margin-top: 10px;

}
textarea {
	padding-top: 12px;
	outline: none;
	resize: none;
	width: 310px;
	height: 70px;

}

.main__link-one, .main__link-two {
	display: inline-block;
	padding: 8px 15px;
	font-size: 18px;
	margin: 0 0 0 10px;
	color: #0b7ace;
	/*border-top: 1px solid #0b7ace;*/
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	
}

.main__link-one {
	background-color: white;
	border: 1px solid  #0b7ace;
	border-top: 0;
	outline: none;
}

.main__link-two {
	background-color: #99e3cc;
	outline: none;
	color: white;
	border: 1px solid  #99e3cc;
}

.main__div-descr, .main__div-descr-edit {
	margin-top: 1.6rem;
	margin-right: 0.5rem;
	font-size: 18px;
	max-width: 350px;
	max-height: 200px;
	overflow-x: scroll;
}


.errorsDiv {
	position: absolute; 
	background-color: rgb(237, 70, 47, 0.9); 
	top: 1rem; 
	padding: 20px; 
	color: white; 
	border-radius: 10px; 
	box-shadow: 0 0 7px rgb(237, 70, 47);
}

.errorTitle {
	text-align: center; 
	text-transform: uppercase;
}

.errorDiv {
	font-size: 18px; 
	line-height: 40px; 
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
  box-shadow: 0 0 7px red;
}

.key__input {
	width: 50%;
}

.delete__btn {
	text-transform: uppercase;
    width: 9rem;
    height: 2.5rem;
    margin-left: 15px;
    border-radius: 15px;
    border: 0;
    background-color: #C34A36;
    color: white;
    outline: none;
}
	
.delete__btn:active {
	background-color: #ff7a73;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}


@media screen and (min-width: 600px) {
	.main__div {
		display: flex;
		justify-content: space-around;
		height: 10rem;
	}

	.main__div-title {
		flex: 0 0 30%;
	}


	.main__div-descr {
		max-width: 500px;
		max-height: 200px;
		height: 100px;
		flex: 1;
	}


}

@media screen and (min-width: 800px) {
	.main__div-edit {
		display: flex;
		justify-content: space-around;
		height: 13rem;
	}

	.main__div-title-edit {
		flex: 0 0 30%;
	}

	.main__div-descr-edit {
		max-width: 700px;
		max-height: 300px;
		height: 150px;
		flex: 1;
		margin-left: 30px;
	}

	input {
		height: 40px;
		width: 240px;
		margin-top: 10px;

	}
	.key__input {
		width:50%;
		max-width: 200px;
	}
	textarea {
		padding-top: 12px;
		outline: none;
		resize: none;
		width:80%;
		max-width: 550px;
		height: 70px;
	}
}