table {
	width: 90%;
	padding-left: 2rem;
}

td {
	text-align: center;
	padding: 10px;
	border-bottom: 1px solid #cdd0cb;
}

.student__div {
	margin-top: 2rem;
}

.cross__icon {
	font-size: 27px;
	color: #C34A36;
}

.cross__icon:active {
	color: #8b0000;
}

.delete__btn {
	height: 2.5rem;
	width: 8rem;
	border-radius: 20px;
	text-transform: uppercase;
	border: 0;
	outline: none;
	
	color: white;
	background-color: #C34A36;
	margin: 1rem 2rem;
}
	
.delete__btn:active {
	background-color: #ff7a73;
}
.delete__btn:disabled {
	color: red;
}

@media screen and (min-width: 600px) {
	th {
		padding: 20px;
		color: #bbbfca;

	}

	td {
		padding: 20px;
		max-width: 40px;
	}

}