<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body *ngIf="!loading" id="main">
	<form class="search__div" [formGroup]="searchForm" (ngSubmit)="findStudents()">
		<input 
			formControlName="fullName"
			type="text"
			placeholder="name">
		<input 
			formControlName="login"
			type="text"
			placeholder="login">
		<select name="" id="" formControlName="group" >
			<option value="">-</option>
			<option [value]="group.name" *ngFor="let group of groups">{{ group.name }}</option>
		</select>
		<div class="btns">
			<button class="search__btn">Search</button>
			<fa-icon class="redo__icon"  (click)="clearSearch()" [icon]="redoIcon"></fa-icon>
				
		</div>

	</form>
	

	<table class="student__div" cellspacing="0">
		<tr>
			<th></th>
			<th>Name</th>
			<th>Login</th>
			<th>Group</th>
			<th *ngIf="userType === 'teacher'">Remove</th>
		</tr>
		<tr  *ngFor="let student of students; index as i">
			<td>{{ i+1 }}</td>
			<td>{{student.fullName}}</td>
			<td>{{student.login}}</td>
			<td>{{student.group.name}}</td>
			<td  *ngIf="userType === 'teacher'"><fa-icon class="cross__icon" [icon]="crossIcon" (click)="removeStudent(student)"></fa-icon></td>
		</tr>
	</table>
	<div>
		<button  *ngIf="userType === 'teacher'" class="delete__btn" (click)="deleteAllStudents()" >Remove all</button>
	</div>
	
</body>
</html>