table {
	width: 90%;
	padding-left: 2rem;
}

td {
	text-align: center;
	padding: 10px;
	border-bottom: 1px solid #cdd0cb;
}

.cross__icon {
	font-size: 27px;
	color: #C34A36;
}

.cross__icon:active {
	color: #8b0000;
}

@media screen and (min-width: 600px) {
	th {
		padding: 20px;
		color: #bbbfca;

	}

	td {
		padding: 20px;
		max-width: 40px;
	}

}