body {
	width: 100vw;
	height: 100vh;
	/*display: grid;*/
	top: 0;
	margin: 0 !important;
	padding: 0 !important;

}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

input, textarea {
	height: 50px;
	width: 330px;
	min-width: 240px;
	min-height: 40px;

	border-radius: 17px;
	border: 1px solid #00b5d4;
	box-shadow: 0 0 7px #00b5d4;
	font-size: 20px;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	padding-left: 12px;
}

.top-div {
	color: white;
	top: 0;
	width: 100vw;
	min-height: 250px;
	background-image:  linear-gradient(to  top, #99e3cc, #59cdce, #00b5d4, #0099d7, #0b7ace);
	display: grid;
	grid-template-columns: [col-1-start] 40% [col-2-start] 30% [col-2-end col-3-start] 30% [col-3-end];
	grid-template-rows: [row-1-start] 80px [row-1-end row-2-start] 80px [row-2-end];
	padding-top: 5rem;
	-webkit-box-shadow: 0 8px 10px  #99e3cc;
    -moz-box-shadow: 0 8px 10px  #99e3cc;
        box-shadow: 0 8px 10px  #99e3cc;

}

.left-div {
	grid-column: col-1-start / col-2-start;
	margin: auto;
	text-align: left;
	padding-left: 10px;
}

	.title {
		grid-row: row-1-start / row-1-end;
	}

	.edit-btn {
		width: 5rem;
		height: 2rem;
		color: #0b7ace;
		text-transform: uppercase;
		background-color: #EEEEEE;
		border: 0;
		outline: none;
		grid-row: row-2-start / row-2-end;
	}

	.edit-btn:hover {
		background-color: #0b7ace;
		color: #EEEEEE;
	}

	.edit-btn:active {
		outline: none;

		color: #0b7ace;
		background-color: #EEEEEE;
	}

	.first-row-div, .second-row-div {
		font-size: 20px;
		margin-top: 10px;
	}

	.first-row-div {
		grid-column: col-2-start / col-2-end;
		grid-row: row-1-start / row-2-end;
	}

	.second-row-div {
		grid-column: col-3-start / col-3-end;
		grid-row: row-1-start / row-2-end;

	}

.prop-title {
	font-weight: 600;
	margin: 20px;
}

.prop-value {
	margin-left: 10px;
	font-weight: 300;
}
/*/////*/

.create-course-div  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;

}

.create-course-left-div, .create-course-right-div {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}
.create-course-left-div input, .create-course-left-div textarea, .create-course-right-div input {
	margin: 20px;
}
.create-course-right-div {
	height: 60%;
}

.courses-div {
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.course-div, .course-header-div {
	display: flex;
	text-align: center;
	align-items: center;
	width: 90%;
} 

.course-div, .create-course-div {
	
	background-color: rgb(11, 122, 206, 0.8);
	border-radius: 15px;
	box-shadow: 0 0 10px rgb(11, 122, 206);
	justify-content: space-around;
	margin: 1rem;
}
.course-div {
	height: 6rem;
}

.course-header-div {
	height: 2rem;
	justify-content: space-between;
	text-transform: uppercase;
}

.course-header-div p {
	padding: 6px;
	width: 20%;
}

.course-title {
	font-size: 20px;
	text-transform: uppercase;
	max-width: 20%;
}

.course-div p  {
	color: white;
	display: inline;
	padding: 6px;
	width: 20%;
}
.course-grade {
	font-size: 20px;
}

.signupBtn {
	margin: 20px;
	width: 200px;
	height: 40px;
	border-radius: 20px;
	font-size: 15px;
	border: 0;
	font-family: 'Montserrat', sans-serif;
}
.signupBtn 
{
	background-image: linear-gradient(to right top, #5dfdcb, #0af3e9, #00e6fd, #4bd7ff, #7cc6fe);
	color: #F4FAFF;
}
.signupBtn:hover  {
	color: #00b5d4;
	background-image: none ; 
	background-color: white;
	border: 1px solid #00b5d4;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid red;
  box-shadow: 0 0 7px red;
}
.errSpan {
	text-align: center;
	color: red;
	margin-bottom: 10px;
}


@media screen and (max-width: 890px) {
	.title {
		font-size: 24px;
	}
	.prop-title, .course-grade {
		font-size: 15px;
	}
	.course-header-div {
		font-size: 13px;
	}
	.course-title {
		font-size: 17px;
	}
	.top-div {
		grid-template-columns: [col-1-start] 50% [col-2-start] 50% [col-2-end] ;
	}
	.left-div {
		grid-column: col-1-start / col-2-start;
		grid-row: row-1-start / row-1-end;
	}

	.first-row-div {
		grid-column: col-2-start / col-2-end;
		grid-row: row-1-start / row-1-end;

	}

	.second-row-div {
		grid-column: col-2-start / col-2-end;
		grid-row: row-2-start / row-2-end;

	}
}

