<!-- <app-header></app-header> -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<app-header></app-header>
<div *ngIf="showEdit" class="backdrop" (click)="showEdit = false"></div>
<app-edit-teacher (showEditVal)="getEditVal($event)" *ngIf="showEdit"></app-edit-teacher>

<body>
	<div class="top-div">
		<div class="left-div">
			<h1 class="title">{{ teacher.fullName }}</h1>
			<button class="edit-btn" (click)="showEditPage()">Edit</button>
		</div>
		

		<div class="first-row-div">
			<p class="prop-title">Login <span class="prop-value">{{ teacher.login }}</span></p>
			
		</div>
		<div class="second-row-div">

			<p class="prop-title">First login <span class="prop-value">{{ teacher.firstLogin | date: 'd LLL y, h:mm'}}</span></p>
			
			<p class="prop-title">Last login<span class="prop-value">{{ teacher.lastLogin | date: 'd LLL y,  h:mm'}}</span></p>
		</div>

	</div>
	<button class="edit-btn" (click)="showCourseForm()">New course</button>
	<div class="courses-div">
		<!-- [hidden]="courseState === 'hidden'" [@courseState]="courseState"  -->
		<form class="create-course-div" #courseForm="ngForm" (ngSubmit)="onSubmitCourse(courseForm)">
			<div class="create-course-left-div">
				<input 
					class="loginInput" 
					type="text" 
					name="title" 
					title
					placeholder="Course title"
					ngModel
					required
					#title = "ngModel"
					minlength="3" 
					>
				<span class="errSpan" *ngIf="!title.valid && title.touched">
					Title is invalid
				</span>	
				<textarea
					class="loginInput" 
					type="text" 
					name="description" 
					description
					placeholder="Description"
					ngModel
					required
					#description = "ngModel"
					minlength="3"
					style="height: 200px; padding-top: 10px; resize: none;" 
					></textarea> 
				<span class="errSpan" *ngIf="!description.valid && description.touched">
					Description is invalid
				</span>	
				<input 
					class="loginInput" 
					type="text" 
					name="key" 
					key
					placeholder="Secret key"
					ngModel
					required
					#key = "ngModel"
					minlength="3" 
					>
				<span class="errSpan" *ngIf="!key.valid && key.touched">
					Key is invalid
				</span>
			</div>
			<div class="create-course-right-div">
				<div>
					<input 
					type="text" 
					list="groupName" 
					name="groupName"
					placeholder="select class"
					ngModel
					groupName
					#groupName="ngModel"
					/>
					
					<!-- <span class="classErrSpan" *ngIf="className.touched && !className.valid">
						Please select class
					</span> -->

					<datalist id="groupName">
					  <option *ngFor="let group of groups" >{{ group.name }}</option>
					</datalist> 
				</div> 
				<div>
					<input 
					type="text" 
					list="student" 
					name="student"
					placeholder="input student's name"
					ngModel
					student
					#student="ngModel"
					(input)="findStudent($event.target.value)"
					style="width: 60%" 
					/>
					<button type="button" (click)="addStudent(student)">add</button>
					<button type="button" (click)="clearStudents()">remove all</button>
					<!-- <span class="classErrSpan" *ngIf="className.touched && !className.valid">
						Please select class
					</span> -->

					<datalist id="student" *ngIf="students">
					  <option *ngFor="let student of students">{{ student.fullName }}</option>
					</datalist> 
				</div> 
				<div style="margin: 20px">
					Students:
					<p *ngFor="let s of studentList">Login: {{s.login}}, Group: {{s.group.name}}</p>
				</div>
				<button type="submit" class="signupBtn" [disabled]="!courseForm.valid">Create</button>

			</div>


		</form>
		<div class="course-header-div">
			<p class="course-header-title">Course title</p>
			<p>Num. of students</p>
			<p>view</p>
			<p>edit</p>
		</div>
		<div class="course-div" *ngFor="let course of teacher.courses">
			<p class="course-title">{{ course.title }}</p>
			<p class="course-grade">{{ course.students.length }} ppl</p>
			<p>view</p>
			<p>edit</p>
		</div>
	</div>
	
</body>
</html>