<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<app-header></app-header>
<div *ngIf="showEdit" class="backdrop" (click)="showEdit = false"></div>
<app-edit (showEditVal)="getEditVal($event)" *ngIf="showEdit"></app-edit>
<body>
	<div class="top-div">
		<div class="left-div">
			<h1 class="title">{{ student.fullName }}</h1>
			<button class="edit-btn" (click)="showEditPage()">Edit</button>
		</div>
		

		<div class="first-row-div">
			<p class="prop-title">Login <span class="prop-value">{{ student.login }}</span></p>

			<p class="prop-title">Group<span class="prop-value" *ngIf="!loading">{{ student.group.name }}</span></p>				
		</div>
		<div class="second-row-div">

			<p class="prop-title">First login <span class="prop-value">{{ student.firstLogin | date: 'd LLL y, h:mm'}}</span></p>
			
			<p class="prop-title">Last login<span class="prop-value">{{ student.lastLogin | date: 'd LLL y,  h:mm'}}</span></p>
		</div>

	</div>

	<div class="courses-div" *ngIf="!loading && student.courses.length > 0; else">
		<div class="course-header-div">
			<p class="course-header-title">Course title</p>
			<p>your grade</p>
			<p>max grade</p>
			<p>work</p>
			<p>view</p>
		</div>
		<div class="course-div" *ngFor="let course of student.courses">
			<p class="course-title">{{ course.title }}</p>
			<p class="course-grade">95</p>
			<p class="course-grade">100</p>
			<p>assignments</p>
			<p>view</p>
		</div>
	</div>

	<div #else>
		browse courses
	</div>
	
</body>
</html>