<!-- <app-header></app-header> -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<app-header></app-header>
<body>
	<div class="top-div">
		<h1>{{student.fullName}}</h1>
	</div>
	<div class="bottom-div1">
		<p class="prop-title">Login</p>
		<p class="prop-value">{{student.login}}</p>
		<p class="prop-title">Class</p>
		<p class="prop-value">{{student.class}}</p>
	</div>
	<div class="bottom-div2">
		<p class="prop-title">Links</p>
		<p class="prop-value">Edit profile</p>
		<p class="prop-value">Grades</p>
	</div>
</body>
</html>