<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<app-header></app-header>
<div *ngIf="showEdit" class="backdrop" (click)="showEdit = false"></div>
<app-edit (showEditVal)="getEditVal($event)" *ngIf="showEdit"></app-edit>
<app-side-nav></app-side-nav>
<body *ngIf="!loading">
	<div  id="main">
		<div class="main__div">
			<div class="main__div-info">
				<h1>{{ student.fullName }}</h1>
				<p> <span>{{ student.login }}</span></p>
				<button class="edit__btn" (click)="showEditPage()">Edit</button>
			</div>
			
			<table class="main__table">
				<tr>
					<td>Group</td>
					<td>{{ student.group.name }}</td>
				</tr>
				<tr>
					<td>First log in</td>
					<td>{{ student.firstLogin | date: 'd LLL y, h:mm'}}</td>
				</tr>
				<tr>
					<td>Last log in</td>
					<td>{{ student.lastLogin | date: 'd LLL y,  h:mm'}}</td>
				</tr>
			</table>
		</div>
		<div class="main__links">
			<p  [routerLink]="['/student/']"  class="main__link-one" routerLinkActive="main__link-two" [routerLinkActiveOptions]="{exact:true}">main</p>
			<p routerLink="grades" routerLinkActive="main__link-two" class="main__link-one">grades</p>
			<p routerLink="assignments" routerLinkActive="main__link-two" class="main__link-one">assignments</p>
		</div>
		<router-outlet></router-outlet>
	</div>
	

</body>
</html>