<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<header>
		<app-header></app-header>
	</header>
	<div>
		dd
		d
		d
		d
		ds
	</div>
	<div class="main__div">
		<div class="search__div">
			Seach by:
			<label for="fieldName">Faculty</label>
			<input 
				id="fieldName" 
				type="text"
				list="fieldList"
				[(ngModel)]="fieldName"
				(change)="sortByField(fieldName)" 
				(click)="fieldName = ''"
				>
			<datalist id="fieldList">
				<option *ngFor="let field of fields">{{field.name}}</option>
			</datalist>
		</div>
		<div class="courses__div">
			<div *ngFor="let course of courses" (click)="showCourse(course)">
				<span *ngIf="course.students.includes(userId)" routerLink="/course/{{course._id}}">{{ course.title }}</span>

				<span *ngIf="!course.students.includes(userId)">{{ course.title }}</span>
			</div>
		</div>
	</div>
	<div *ngIf="selectedCourse && (userType === 'student' && !selectedCourse.students.includes(userId))">
		{{ selectedCourse.title }}
		{{ selectedCourse.description }}
		{{ selectedCourse.students.length }} students
		<input 
			*ngIf="selectedCourse.key !== '' && !course.students.includes(userId) && !course.requests.includes(userId)"
			type="text"
			placeholder="secret key" 
			[(ngModel)]="key">
		<button *ngIf="selectedCourse.opened === true" (click)="register(key)">
			Register
		</button>
		<span *ngIf="selectedCourse.requests.includes(userId)">
			Your request is pending
		</span>
		<button *ngIf="selectedCourse.opened === false && !selectedCourse.requests.includes(userId)" (click)="sendRequest(key)">
			Send request
		</button>

	</div>
</body>
</html>
