<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body >
	<form *ngIf="newTopicMode" [formGroup]="topicForm" (ngSubmit)="createTopic()">
		<input 
			class="title__input" 
			type="text"
			name="title"
			required
			formControlName="title"
			>
		<div class="hidden__div">
			<label 
			class="hidden__label" 
			for="hide">hidden</label>
			<input 
				type="checkbox"
				class="hidden__input"
				id="hide"
				name="hide"
				formControlName="hidden">
		</div>
		<button 
			type="submit" 
			class="topic__btn">Create Topic</button>	
		<button 
			type="button" 
			class="back__btn" (click)="topicMode()">Back</button>		
	</form>
	<button 
		*ngIf="!newTopicMode"
		type="submit" 
		class="new-topic__btn" (click)="topicMode()">New topic</button>	
	

	<div id="topicId" *ngFor="let topic of topics;  index as i">
		<form *ngIf="i === editIndex " [formGroup]="editForm" (ngSubmit)="editTopic(topic._id)">
			<input 
				class="title__input" 
				type="text"
				name="title"
				required
				formControlName="title"
				>
			<div class="hidden__div">
				<label 
				class="hidden__label" 
				for="hide">hidden</label>
				<input 
					type="checkbox"
					class="hidden__input"
					id="hide"
					name="hide"
					formControlName="hidden">
			</div>
			<button 
				type="submit" 
				class="topic__btn">Update</button>	
			<button 
				type="button" 
				class="back__btn" (click)="editIndex = null">Back</button>	
		</form>
		
		<div class="topic__div" *ngIf="i !== editIndex ">
			<button 
			type="button" 
			class="add-before__btn" (click)="addBefore(topic)">add before</button>	

			<div class="topics__div" >
				<h1 [ngStyle]="topic.hidden === true && {'color':'grey'}" class="title__p" [id]="'topic'+i">{{ topic.title }}</h1>
				<p class="date__p">{{ topic.createdAt | date: 'd, MMM yyyy' }}</p>
				<button class="edit__icon" (click)="showEditTopic(topic, i)">
					<fa-icon [icon]="editIcon"></fa-icon></button>
				<button class="delete__icon" (click)="removeTopic(topic._id, i)">
					<fa-icon [icon]="removeIcon"></fa-icon></button>

				<button 
					type="button" 
					class="add-assignment__btn" (click)="showAssignment(topic._id)">assignment</button>
			</div>
			<div class="assignments__div" *ngIf="topic.assignments && topic.assignments.length > 0; else elseBlock">
				<div class="assignment__div" *ngFor="let assignment of topic.assignments">
					<span class="pdf__icon"><fa-icon [icon]="fileIcon"></fa-icon></span>

					<span class="assignment__title" [routerLink]="['../assignment/', assignment._id]">{{ assignment.title }}</span>
				</div>
			</div>
			<ng-template #elseBlock>
				<p class="nothing__p">No assignments yet</p>
			</ng-template>
		</div>
		
	</div>

	<div class="scroll__div">
		<button class="scroll__btn">
			<fa-icon (click)="goUp()" [icon]="upIcon"></fa-icon></button> 
		<button class="scroll__btn">
			<fa-icon (click)="goDown()" [icon]="downIcon"></fa-icon></button>
	</div>
</body>

</html>